.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 0.75rem;
  line-height: 1.5rem;

  color: #5101A6;

  background: #FFFFFF;
  border-radius: 6px;
  cursor: url(../../images/Pointer.png),pointer;
}

.button:hover {
	transition: opacity 0.3s;
	opacity: 0.9;
}
