.help__button {
  background: #5101A6;
  border-radius: 6px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #FFF;
}

@media screen and (max-width: 1300px) {
  .help__button {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
