.offers__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0;
  text-align: center;

  color: #200142;
}

@media screen and (max-width: 1300px) {
  .offers__title {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}
