.offers__swiper-slide-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #5101A6;
}
