.help__form {
  display: grid;
  grid-template-columns: 256px 256px 256px 256px;
  grid-template-rows: 72px;
  gap: 64px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1400px) {
  .help__form {
    grid-template-columns: 206px 206px 206px 206px;
  }
}

@media screen and (max-width: 1280px) {
  .help__form {
    grid-template-columns: 256px;
    grid-template-rows: 62px 62px 62px 62px;
    gap: 34px;
  }
}
