.main__pic {
  position: absolute;
  top: 154px;
  right: 320px;
}

@media screen and (max-width: 1900px) {
  .main__pic {
    right: 251px;
  }
}

@media screen and (max-width: 1800px) {
  .main__pic {
    right: 151px;
  }
}

@media screen and (max-width: 1600px) {
  .main__pic {
    right: 51px;
    width: 658px;
  }
}

@media screen and (max-width: 1300px) {
  .main__pic {
    width: 558px;
  }
}

@media screen and (max-width: 1280px) {
  .main__pic {
    display: none;
  }
}
